= form_with(model: provider, class: "contents") do |form|
  - if provider.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        = pluralize(provider.errors.count, t('error'))
        = t('bank.error_messages_suffix')

      %ul
        - provider.errors.each do |error|
          %li= error.message

  .my-5
    = form.label :name
    = form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .my-5
    = form.label :national_id_type
    = form.select :national_id_type, Provider.national_id_types.keys, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .my-5
    = form.label :national_id_number
    = form.text_field :national_id_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .my-5
    = form.label :contact_name
    = form.text_field :contact_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .my-5
    = form.label :contact_phone_number
    = form.text_field :contact_phone_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .my-5
    = form.fields_for :bank_account do |f|
      .my-5
        = f.label :bank_id
        = f.collection_select :bank_id, Bank.order(:name), :id, :name, include_blank: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

      .my-5
        = f.label :bank_account_number
        = f.text_field :number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
