%thead{:class => "bg-black/60"}
  %th.text-left.py-3.px-2.rounded-l-lg= t('provider.name')
  %th.text-left.py-3.px-2= t('provider.contact_name')
  %th.text-left.py-3.px-2= t('provider.contact_phone_number')
  %th.text-left.py-3.px-2= t('provider.bank')
  %th.text-left.py-3.px-2= t('provider.bank_account_number')
  %th.text-left.py-3.px-2.rounded-r-lg= t('provider.actions')
