#content.col-span-9.rounded-lg.p-6{:class => "bg-white/10"}
  #24h
    %h1.font-bold.py-4.uppercase= t('admin.last_24h_statistics')
    #stats.grid.grid-cols-2.md:grid-cols-2.lg:grid-cols-2.gap-6
      .p-6.rounded-lg{:class => "bg-black/60 to-white/5"}
        .flex.flex-row.space-x-7.py-7.items-center
          #stats-1
            %svg.w-10.h-10.text-white{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
          %div
            %p.text-indigo-300.text-xl.font-medium.uppercase.leading-4= t('provider_title')
            %p.text-white.font-bold.text-2xl.inline-flex.items-center.space-x-2
              %span.text-2xl= provider_count
              %span
                %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
      .p-6.rounded-lg{:class => "bg-black/60"}
        .flex.flex-row.space-x-7.py-7.items-center
          #stats-1

            %svg.w-10.h-10.text-white{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
          %div
            %p.text-teal-300.text-xl.font-medium.uppercase.leading-4= t('admin.bank_accounts')
            %p.text-white.font-bold.text-2xl.inline-flex.items-center.space-x-2
              %span.text-2xl= bank_count
              %span
                %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941", "stroke-linecap" => "round", "stroke-linejoin" => "round"}

  #last-incomes
    %h1.font-bold.py-4.uppercase= t('admin.last_24h_incomes')
    #stats.grid.grid-cols-1.sm:grid-cols-2.lg:grid-cols-3.xl:grid-cols-4.gap-4
      .rounded-lg{:class => "bg-black/60 to-white/5"}
        .flex.flex-row.items-center
          .text-3xl.p-4 💰
          .p-2
            %p.text-xl.font-bold 348$
            %p.text-gray-500.font-medium Amber Gates
            %p.text-gray-500.text-sm= random_date
        .border-t.p-4{:class => "border-white/5"}
          %a.inline-flex.space-x-2.items-center.text-center{:href => "#"}
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            %span Info
      .rounded-lg{:class => "bg-black/60 to-white/5"}
        .flex.flex-row.items-center
          .text-3xl.p-4 💰
          .p-2
            %p.text-xl.font-bold 68$
            %p.text-gray-500.font-medium Maia Kipper
            %p.text-gray-500.text-sm= random_date
        .border-t.p-4{:class => "border-white/5"}
          %a.inline-flex.space-x-2.items-center.text-center{:href => "#"}
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            %span Info
      .rounded-lg{:class => "bg-black/60 to-white/5"}
        .flex.flex-row.items-center
          .text-3xl.p-4 💰
          .p-2
            %p.text-xl.font-bold 12$
            %p.text-gray-500.font-medium Oprah Milles
            %p.text-gray-500.text-sm= random_date
        .border-t.p-4{:class => "border-white/5"}
          %a.inline-flex.space-x-2.items-center.text-center{:href => "#"}
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            %span Info
      .rounded-lg{:class => "bg-black/60 to-white/5"}
        .flex.flex-row.items-center
          .text-3xl.p-4 💰
          .p-2
            %p.text-xl.font-bold 105$
            %p.text-gray-500.font-medium Jonny Nite
            %p.text-gray-500.text-sm= random_date
        .border-t.p-4{:class => "border-white/5"}
          %a.inline-flex.space-x-2.items-center.text-center{:href => "#"}
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            %span Info
      .rounded-lg{:class => "bg-black/60 to-white/5"}
        .flex.flex-row.items-center
          .text-3xl.p-4 💰
          .p-2
            %p.text-xl.font-bold 52$
            %p.text-gray-500.font-medium Megane Baile
            %p.text-gray-500.text-sm= random_date
        .border-t.p-4{:class => "border-white/5"}
          %a.inline-flex.space-x-2.items-center.text-center{:href => "#"}
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            %span Info
      .rounded-lg{:class => "bg-black/60 to-white/5"}
        .flex.flex-row.items-center
          .text-3xl.p-4 💰
          .p-2
            %p.text-xl.font-bold 28$
            %p.text-gray-500.font-medium Tony Ankel
            %p.text-gray-500.text-sm= random_date
        .border-t.p-4{:class => "border-white/5"}
          %a.inline-flex.space-x-2.items-center.text-center{:href => "#"}
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            %span Info
